.DS_Store
# Ignore specific scenario-based Java files (parent directory)

oops-practice/scenario-based/BankAccountManager.java
oops-practice/scenario-based/CabBookingSystem.java
oops-practice/scenario-based/CafeteriaMenuApp.java
oops-practice/scenario-based/EduQuiz.java
oops-practice/scenario-based/InvoiceGenerator.java
oops-practice/scenario-based/ManageStudentTestScores.java
oops-practice/scenario-based/MathUtility.java
oops-practice/scenario-based/OnlineBankingSystem/InsufficientBalanceException.java
oops-practice/scenario-based/OnlineExaminationSystem/
oops-practice/scenario-based/package-info.java
