# Ignore specific scenario-based Java files (parent directory)

../scenario-based/BankAccountManager.java
../scenario-based/CabBookingSystem.java
../scenario-based/CafeteriaMenuApp.java
../scenario-based/EduQuiz.java
../scenario-based/InvoiceGenerator.java
../scenario-based/ManageStudentTestScores.java
../scenario-based/MathUtility.java
../scenario-based/package-info.java

# Ignore specific folders
../scenario-based/OnlineBankingSystem/InsufficientBalanceException.java
../scenario-based/OnlineExaminationSystem/

